@import "fontsAndColors";
@import "media-queries";

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: white;
  color: $dark-desaturated-blue;
  height: 100vh;
  body {
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
    height: 100%;
  }
}
li {
  list-style-type: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  position: relative;
  background: white;
  width: 87%;
  min-width: 327px;
  max-width: 920px;
  box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 32px;
  margin-top: 10vh;
  @include _768 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    padding-left: 0%;
  }
  @include _1024 {
    padding: 0;
    width: 100%;
  }
  .desktop-box {
    display: none;
    @include _1024 {
      display: block;
      z-index: 5;
      position: absolute;
      top: 180px;
      left: -94px;
      @keyframes upDown {
        0% {
          top: 180px;
        }
        50% {
          top: 170px;
        }
        100% {
          top: 180px;
        }
      }
      animation-name: upDown;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
  .graphic {
    position: relative;
    width: 100%;
    min-width: 327px;
    align-items: center;
    @include _1024 {
      overflow: hidden;
      height: 100%;
    }
    picture {
      position: relative;
      z-index: 1;
      left: -10px;
      top: -110px;
      @include _480 {
        transform: scale(1.1);
      }
      @include _768 {
        transform: scale(1.15);
        top: 20%;
        left: -10px;
      }
      @include _900 {
        transform: scale(1.45);
      }
      @include _1024 {
        transform: scale(1);
        left: -75px;
        top: 50px;
      }
    }
    .mobile-bg {
      position: absolute;
      top: -0px;
      @include _480 {
        transform: scale(1.1);
      }
      @include _768 {
        transform: scale(1.15);
        top: 60%;
      }
      @include _900 {
        transform: scale(1.45);
        top: 70%;
      }
      @include _1024 {
        display: none;
      }
    }
    .desktop-bg {
      display: none;
      @include _1024 {
        display: block;
        position: absolute;
        transform: scale(0.9);
        left: -520px;
        top: -310px;
      }
    }
  }
  .accordion {
    align-items: center;
    justify-content: center;
    max-width: 350px;
    min-width: 279px;
    @include _1024 {
      margin: 70px 96px 70px 0;
    }
    header {
      margin-top: -48px;
      margin-bottom: 32px;
      transition: all 250ms ease-in-out;
      @include _768 {
        margin-top: 0;
        margin-right: auto;
      }
      h1 {
        font-size: 32px;
        font-weight: 700;
      }
    }
    .accordion-item {
      background: white;
      margin: 1rem 0;
      border-bottom: 1px solid $light-grayish-blue;
      transition: all 250ms ease-in-out;
      &__header {
        justify-content: space-between;
        padding-bottom: 16px;
        p {
          font-size: 14px;
        }
        svg {
          transition: all 250ms ease-in-out;
        }
        @media (hover: hover) {
          &:hover > p {
            color: $soft-red;
            cursor: pointer;
          }
        }
      }
      &__header.active > svg {
        transform: rotateZ(540deg);
      }
      &__header.active > p {
        font-weight: 700;
      }
      &__body {
        max-height: 0;
        overflow: hidden;
        transition: all 250ms ease-in-out;
        &__content {
          padding: 0 1rem 16px 0;
          p {
            line-height: 150%;
          }
        }
      }
    }
  }
}
